RECEPIENT=support@example.com
MAIL_USERNAME=noreply@example.com
MAIL_PASSWORD=password1
SMTP_HOSTNAME=smtp.gmail.com
SMTP_PORT=465
SLACK_TOKEN=xoxb-xxxxxxxxxxxx-xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxx
SLACK_CHANNEL=C01234567
MAX_FILE_SIZE

