# Mail recepient, optional (if not present equals MAIL_USERNAME)
RECEPIENT=support@example.com

# Username and password, required to send mail
MAIL_USERNAME=noreply@example.com
MAIL_PASSWORD=password1

# IP/domain of SMTP server, required to send mail
SMTP_HOSTNAME=smtp.gmail.com

# SMTP server port, optional, defaults: [25 (plain), 465 (tls), 587 (starttls)]
SMTP_PORT=587

# Encryption type, optional, [plain, starttls, tls (default)]
SMTP_TLS=tls

# Slack bot user token and channel, required to send messages to slack.
SLACK_TOKEN=xoxb-xxxxxxxxxxxx-xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxx
SLACK_CHANNEL=C01234567

# Max file size (bytes)
MAX_FILE_SIZE=10485760
